<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <!-- <a class="bottom-item" href="<%=theme.links_url%>"><%= __('links')%></a> | -->
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by Hexo</a> |
        <a class="bottom-item" href="https://github.com/Glooory/hexo-theme-simcle.git" target="_blank">Theme simcle</a>
        <!-- <a class="bottom-item" href="/atom.xml"><%= __('rss')%></a> -->
    </div>
</footer>